.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.traffic {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.button {
	all: unset;
	padding: 0.5rem;
	background-color: var(--colors-bg);
	border: 1px solid var(--colors-decorations);
	border-radius: 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;

	&:hover {
		background-color: var(--colors-decorations);
	}
}

.trafficLight {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.5rem;
	border: 1px solid var(--colors-decorations);
}

.light {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0.25rem;
	filter: brightness(20%);

	&.on {
		filter: brightness(100%);
	}

	&.red {
		background-color: red;
	}

	&.yellow {
		background-color: orange;
	}

	&.green {
		background-color: green;
	}
}
