.switch {
	--height: 25px;
	--width: 40px;
	--size: calc(var(--height) - 6px);
	--move: calc(var(--width) - var(--size) - 4px);
	position: relative;
	display: inline-block;
	width: var(--width);
	height: var(--height);

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--colors-inputs);
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 34px;
	}

	.slider:before {
		position: absolute;
		content: attr(data-label);
		color: var(--colors-main);
		font-size: 1rem;
		line-height: var(--size);
		height: var(--size);
		width: var(--size);
		left: 3px;
		bottom: 3px;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
		background-color: var(--colors-decorations);
		font-weight: bold;
	}

	.slider:hover:before {
		color: white;
	}

	& input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	& input:checked + .slider {
		background-color: var(--colors-inputs);
	}

	& input:focus + .slider {
		box-shadow: 0 0 1px var(--colors-inputs);
	}

	& input:checked + .slider:before {
		-webkit-transform: translateX(var(--move));
		-ms-transform: translateX(var(--move));
		transform: translateX(var(--move));
	}
}
