.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    overflow: hidden;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid var(--colors-decorations);
    border-radius: 0.5rem;
    color: var(--colors-text);
    overflow: hidden;
}


.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    overflow: hidden;
}

.modelSelector {
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--colors-decorations);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.messages {
    flex: 1;
    overflow: auto;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

.formControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    border: none;
    border-top: 1px solid var(--colors-decorations);
    padding: 1rem;

    & * {
        padding: .5rem;
    }

    & input {
        flex: 1;
        background-color: transparent;
        font-size: 1.5rem;
        border: 1px solid var(--colors-decorations);
        border-radius: 0.5rem;
        color: var(--colors-text);
    }
}


.response {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    min-height: 100%;
    font-size: 1.5rem;
    padding-block: 2rem;

    & .content {
        padding-inline: 1.5rem;
    }

    & .title {
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        padding-inline: 1rem;
        width: 100%;
        font-size: 1.3rem;
        background-color: var(--colors-bg);
        color: var(--colors-subText);
        padding-block: .5rem;
        border-bottom: 1px solid var(--colors-hoverDecorations);
        border-top: 1px solid var(--colors-hoverDecorations);
    }
}


.loader {
    width: 2rem;
    padding: .5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}