.mainView {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	max-width: 80vw;
	margin: 0 auto;
	padding: 2rem 0;
}

.centered {
	align-items: center;
	justify-content: center;
}
