.floatingQuotes {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background-color: var(--colors-bg);
    color: var(--colors-text);
    border: 1px solid var(--colors-decorations);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.floatingQuotes:hover {
    transform: translateY(-0.5rem);
}