.nav {
    height: var(--header-height);
    width: 100%;
    display: grid;
    grid-template-columns: 6rem 1fr 6rem 6rem;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid var(--colors-decorations);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--colors-bg);
}

.divider {
    color: var(--colors-header);
}

.name {
    font-size: 2em;
    font-weight: 400;
    color: var(--colors-headerText);
}

.title {
    font-size: 1.5em;
    font-family: cascadia, serif;
    color: var(--colors-headerText);
    font-style: italic;
}

.link {
    text-decoration: none;
}