.mainView {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 6rem 1fr;
}

.main {
    margin: 0 auto;
    display: block;
    transition: filter 0.5s linear;
}

.logo {
    height: 1rem;
}

.centered {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
    gap: 0px;
}