@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        --header-height: 6rem;
    }

    .homg-bg {
        animation: slide 20s ease-in-out 2 alternate;

        background-image: linear-gradient(calc(var(--random-degree) * 1px)deg,
                var(--colors-bg) 50%,
                var(--colors-hoverDecorations) 50%);
        bottom: 0;
        left: -50%;
        opacity: 0.5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .homg-bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 15s;
    }

    .homg-bg3 {
        animation-duration: 12s;
    }

    @keyframes slide {
        from {
            transform: translateX(-25%);
        }

        to {
            transform: translateX(25%);
        }
    }

    .home-layout {
        display: grid;
        height: calc(100vh - var(--header-height));
        grid-template-rows: 1fr 1fr 1fr 0;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "image about-me" "image links" "image stats" "footer footer";

    }

    .image {
        grid-area: image;
        display: block;
        height: 100%;
    }

    .about-me {
        grid-area: about-me;
        display: block;
    }

    .links {
        grid-area: links;
    }

    .stats {
        grid-area: stats;
    }

    .footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 968px) {
        .home-layout {
            grid-template-areas: "image about-me" "image links" "stats stats" "footer footer";
        }
    }

    @media only screen and (max-width: 512px) {
        .home-layout {
            grid-template-areas: "image about-me" "links links" "stats stats" "footer footer";
        }
    }

    .about-me {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding: 1rem;
        color: var(--colors-text);
    }

    .about-me h2 {
        font-family: "Codystar", Arial, Helvetica, sans-serif;
    }

    .about-me a {
        font-size: 0.7em;
    }

    .about-me a:hover,
    .about-me a:focus,
    .about-me a:active {
        text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
        .about-me {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    .about-me h4 {
        letter-spacing: 0.1em;
        margin-block-end: 0;
    }

    .dl::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        color: #ffffff;
        background-color: var(--colors-decorations);
        border: 0.2rem solid white;
        border-radius: 50%;
    }
}