.blogPost {
    font-size: 17px;
}

.title {
    font-family: "Alegreya Sans SC", sans-serif;
    color: var(--colors-text);
    margin-bottom: 0.5rem;
}

.subTitle {
    font-family: "Alegreya Sans SC", sans-serif;
    color: var(--colors-subText);
    opacity: 0.7;
    font-size: 1.3em;
}

.date {
    color: var(--colors-subText);
    font-size: 0.8em;
    filter: brightness(80%);
}